@import "abstracts/variables";

.status {
  display: flex;
  flex: 1;
  justify-content: center;
  &__icon {
    display: block;
    width: 1rem;
    height: 1rem;
    border-radius: 50px;
    cursor: pointer;

    &.new {
      background-color: $blue;
    }

    &.completed {
      background-color: $green;
    }

    &.red {
      background-color: $red;
    }

  }
}
